name: demo-new

on:
  workflow_dispatch:

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'rueyaa332266/action_poc'
          ref: 'master'
      - uses: .github/actions/com
